@charset "UTF-8";

div{
    display: inline-block;
    background-color: rgb(133, 227, 227);
    text-align: center;
    width: 150px; 
    height: 150px;
    border: 1px solid black;
}
div:hover{
    background-color: rgb(26, 255, 5);

}
