@charset "UTF-8";

body{
    background-color: rgb(170, 166, 157);
    font-family: 'Courier New', Courier, monospace;
}
.texto{
    text-align: center;
    background-color: rgb(214, 18, 18);
    color: rgb(20, 255, 71);
    font-size: 20px;
    text-align: left;
}
